@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;
  
  animation: blink 3s infinite;
}

@keyframes blink { 50% { border-color:#fff ; }  }

/* CSS R eset end */

body {
    font-family: Poppins, Helvetica, sans-serif;
    background: #333;
    color: #333;
}

h1 {
    text-align: center;
    padding: 25px 0;
    color: #f1f1f1;
}

.recherche-poke {
    max-width: 700px;
    width: 70%;
    min-width: 450px;
    margin: 30px auto;
    position: relative;
    display: flex;
}

.inp-group {
    width: 100%;
}

.recherche-poke input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
}

.recherche-poke label {
    position: absolute;
    color: #333;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-in;
}

.recherche-poke button {
    margin-left: 5px;
    padding: 15px;
    border: 1px solid white;
    color: white;
    position: absolute;
    left: 99%;
}

/* animation input  */

.recherche-poke:focus-within label,
.recherche-poke.active-input label {
    top: -15px;
    padding-left: 5px;
    color: #f1f1f1;
}

/* Liste des cartes */

.container {
  width: 70%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.liste-poke li {
  width: 250px;
  height: auto;
  padding: 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}